/* 
    Author schemabuoi
    Author kiddo
*/

.button{
    -fx-background-color:#black;
    -fx-border-color:#b3b3b3;
    -fx-border-width:2;
    -fx-text-fill:#b3b3b3;         
}
.button:hover{
    -fx-scale-x:1.1;
    -fx-scale-y:1.1;
    -fx-scale-z:1.1;
    -fx-background-color:#121212;
    -fx-border-color:white;
    -fx-text-fill:white;
}
.button:pressed{
    -fx-background-color:#121212;
    -fx-border-color:#535353;
    -fx-text-fill:#535353;
}