/* 
    Author schemabuoi
    Author kiddo
*/

.list-view .column-header,
.list-view .column-header-background .filler{
    -fx-background-color:#181818; 
}
.list-view .scroll-bar{
    -fx-background-color:#181818; 
}
.list-view .scroll-bar:vertical{
    -fx-background-color:#181818; 
}
.list-view .scroll-bar:horizontal{
    -fx-background-color:transparent;
}
.list-view .scroll-bar .thumb{
    -fx-background-color:derive(black, 50%);
}
.list-view.scroll-bar .thumb:hover{
    -fx-background-color:derive(black, 70%);
}
.list-view .increment-button:hover ,.text-area .decrement-button:hover{
    -fx-background-color:transparent;
}
.list-view .track{
    -fx-background-color:transparent;
}

.list-view{
    -fx-background-color:#181818;
}

.list-view .list-cell:hover{
    -fx-text-fill:#4deeea;
}

.list-view .list-cell:selected{
    -fx-background-color:#535353;
}

.list-view .list-cell{
    -fx-padding:5 5 5 80;
    -fx-background-color:#181818;
    -fx-text-fill:white;
    -fx-font-size:13;
    -fx-font-weight:bold;
}

.list-view .label{
    -fx-text-fill:#b3b3b3;
}
