

/* 
    Author schemabuoi
    Author kiddo
*/

.table-view .column-header,
.table-view .column-header-background .filler{
    -fx-background-color:#181818; 
}
.table-view .scroll-bar:vertical{
    -fx-background-color:transparent;
}
.table-view .scroll-bar:horizontal{
    -fx-scale-x: 0;
    -fx-scale-y: 0;
}
.table-view .scroll-bar:horizontal{
    -fx-padding:-7;
}

.table-view .scroll-bar .thumb{
    -fx-background-color:derive(black, 50%);
}
.table-view.scroll-bar .thumb:hover{
    -fx-background-color:derive(black, 70%);
}
.table-view .increment-button:hover ,.text-area .decrement-button:hover{
    -fx-background-color:transparent;
}
.table-view .track{
    -fx-background-color:transparent;
}

.table-view{
    -fx-background-color:transparent;
}
.table-view:focused{
    -fx-background-color:transparent;
}
.table-view .column{
    -fx-background-color:transparent;
}
.table-view .column-header-background .label{
    -fx-alignment:top-left;
    -fx-background-color:transparent;
    -fx-text-fill:#b3b3b3;
}
.table-view .column-header-background .label:hover{
    -fx-text-fill:white;
}
.table-view .arrow{
    -fx-background-color:#4deeea;
}
.table-row-cell{
    -fx-text-background-color:white;
    -fx-font-weight:bold;
    -fx-table-cell-border-color:transparent;
    -fx-font-size:15;
}
.table-view .cell{
  -fx-alignment: center-left;
  -fx-alignment: CENTER_LEFT;
   
}
.table-row-cell:selected{
    -fx-text-background-color:#4deeea;
}
.table-row-cell:hover{
    -fx-text-background-color:#b3b3b3;
}
.table-view{
    -fx-table-cell-border-color:transparent;
}
.table-view:focused{
    -fx-table-cell-border-color:transparent;
}
.table-view .placeholder .label{
    -fx-text-fill:#b3b3b3;
}