/* 
    Author schemabuoi
    Author kiddo
*/
.radio-button{
    -fx-border-width:2; 
}
.radio-button .radio {
    visibility: hidden;
    -fx-border-color: #000;
    -fx-background-color: red;
    -fx-background-image: null;
    -fx-border-radius: 15px;
    -fx-padding: 4px;
}
